.grid1 {
    display: grid;
    grid-template-columns: auto 100px 200px auto;
    grid-template-rows: auto auto 300px;
    gap: 10px 100px;
}

.grid2 {
    display: grid;
    /*Esse fr é o mesmo esquema do flex, cada valor representa um grupo, onde o 
    2 tem o dobro do tamanho do 1, e assim vai.*/
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px 100px;
    margin: 20px 0px;
}

.grid3 {
    display: grid;
    /*Repete o que tem dentro do repeat, mandei repetir 3vezes a estrutura
    1fr 2fr. No final é o mesmo que digitar 1fr 2fr 1fr 2fr 1fr 2fr*/
    grid-template-columns: repeat(3, 1fr 2fr);
    gap: 10px 100px;
    margin: 30px 0px;
}

.grid4 {
    display: grid;
    /*No caso do fr o tamanho de cada coluna se adapta enquanto o numero de
    colunas eh fixo, já o auto-fill a quantidade de colunar fica variando até
    preencher toda a largura da tela com o tam de itens que demos*/
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 10px 100px;
    margin: 20px 0px;
}

.item {
    width: auto;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 40px 0px;
}

.roxo {background-color: blueviolet;}

.laranja {background-color: orange;}